.Navigation {
  display: grid;
  /* width: 100%; */
  margin: 0 90px;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: 60px;
  grid-template-areas:
    "Logo . . About Technology Music Resume Contact External";
  align-items: center;
}

a {
  text-decoration: none;
  color: #9D9D9D;
}

a:hover {
  color: #4B6B80;
}

.Navigation div {
  /* border: 1px solid red; */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Logo {
  grid-area: Logo;
}

.About {
  grid-area: About
}

.Technology {
  grid-area: Technology
}

.Music {
  grid-area: Music
}

.Resume {
  grid-area: Resume
}

.Contact {
  grid-area: Contact
}

.External {
  /* border: 1px solid red; */
  grid-area: External;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "LinkedIn Github"
}

.LinkedIn {
  /* border: 1px solid red; */
  text-align: right;
  grid-area: LinkedIn
}

.Github {
  grid-area: Github
}