.ProjectSection {
  /* border: 1px solid red; */
  display: grid;
  padding: 0 8%;
  grid-template-rows: 1.75fr .25fr .50fr;
  grid-template-areas:
    "prjsctnimg"
    "prjsctntitle"
    "prjsctndtl";
}

.ProjectSectionImg {
  grid-area: prjsctnimg;
}

.ProjectSectionImg img {
  width: 350px;
  border-radius: 50%;
}

.ProjectSectionTitle {
  /* border: 1px solid green; */
  grid-area: prjsctntitle;
}

.ProjectSectionDetail {
  /* border: 1px solid green; */
  grid-area: prjsctndtl;
}

@media (max-width: 1000px) {
  .ProjectSectionTitle {
    height: 30px;
  }

  .ProjectSectionDetail {
    /* border: 1px solid green; */
    padding: 0;
  }
}