.Wrapper {
  padding: 20px;
}

.About {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: .2fr 1fr 2fr 1fr .2fr;
  grid-template-areas:
    " . s1 hs s2 . "
    " . . hs . . "
    " . s3 hs s4 . "
}

.Section1 {
  border: 1px solid red;
  grid-area: s1;
  text-align: left;
}

.Section2 {
  border: 1px solid red;
  grid-area: s2;
  text-align: right;
}

.Section3 {
  border: 1px solid red;
  grid-area: s3;
  text-align: left;
}

.Section4 {
  border: 1px solid red;
  grid-area: s4;
  text-align: right;
}

.Headshot {
  /* border: 1px solid red; */
  grid-area: hs;
  margin: auto;
}

.Headshot>img {
  height: 100%;
}