.Wrapper {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  background: #F6F6F6;
  height: 100vh;
}

.Landing {
  text-align: center;
}

.Logo>div {
  grid-area: logo;
  width: 294px;
  height: 94px;
  margin: auto;
  padding-top: 7%;
  /* opacity: 0.7; */
}

.hihat,
.crashL,
.crashR,
.tom,
.snare,
.ride,
.floorTom {
  overflow: hidden;
}

.hihat {
  height: 45%;
  width: 18%;
  grid-area: hihat;
  z-index: 3;
  position: absolute;
  left: 10%;
  /* right: 73.39%; */
  /* top: 57%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.crashL {
  height: 76%;
  width: 22%;
  grid-area: crashL;
  z-index: 1;
  position: absolute;
  left: 17%;
  /* right: 62.5%; */
  /* top: 29%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.tom {
  height: 45%;
  width: 13%;
  grid-area: tom;
  z-index: 2;
  position: absolute;
  left: 34%;
  /* right: 51.28%; */
  /* top: 57%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.snare {
  height: 30%;
  width: 19%;
  grid-area: snare;
  z-index: 4;
  position: absolute;
  left: 31%;
  /* right: 48.39%; */
  /* top: 70%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.ride {
  height: 55%;
  width: 30%;
  grid-area: ride;
  z-index: 2;
  position: absolute;
  left: 48%;
  /* right: 25%; */
  /* top: 43%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}


.floorTom {
  height: 30%;
  width: 25%;
  grid-area: floorTom;
  z-index: 5;
  position: absolute;
  /* right: 18%; */
  left: 60%;
  /* top: 70%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.crashR {
  height: 76%;
  width: 25%;
  grid-area: crashR;
  z-index: 1;
  position: absolute;
  /* left: 65%; */
  right: 10%;
  /* top: 29%; */
  bottom: 0%;
  transition: .4s ease-in-out;
}

.crashL:hover,
.crashR:hover,
.hihat:hover,
.ride:hover,
.tom:hover,
.snare:hover,
.floorTom:hover {
  -webkit-transform: translate(0, 1.5em);
  transform: translate(0, 1.5em);
}