.Wrapper {
  padding: 2% 10%;
}

.About {
  display: grid;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-columns: 1fr .5fr 1fr;
  grid-template-areas:
    " s1 . s2 "
    " . hs . "
    " s3 . s4 "
}

.Section1 {
  /* border: 1px solid red; */
  grid-area: s1;
  text-align: left;
}

.Section2 {
  /* border: 1px solid red; */
  grid-area: s2;
  text-align: right;
}

.Section3 {
  /* border: 1px solid red; */
  grid-area: s3;
  text-align: left;
}

.Section4 {
  /* border: 1px solid red; */
  grid-area: s4;
  text-align: right;
}

.Headshot {
  /* border: 1px solid red; */
  grid-area: hs;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  /* margin: auto; */
  position: relative;
}

.Headshot img {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .Wrapper {
    /* border: 1px solid red; */
    width: 90vw;
    padding: 0;
    padding-bottom: 10%;
    margin: auto;
  }

  .About {
    /* border: 1px solid red; */
    display: block;
  }

  .About p {
    /* border: 1px solid red; */
    margin: 0;
  }

  .Headshot {
    /* border: 1px solid red; */
    grid-area: hs;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: auto;
    position: relative;
  }

  .Section1,
  .Section2,
  .Section3,
  .Section4 {
    /* border: 1px solid red; */
    text-align: left;
    /* margin: auto; */
    /* margin: 0; */
    /* padding: 0; */
    margin: 5% 3% 0 3%;
    padding: 0;
  }
}