.Wrapper {
  display: grid;
  padding: 4% 0;
}

.Music {
  width: 80%;
  margin: auto;
}

.Hero {
  /* border: 1px solid red; */
  width: 100%;
  margin-bottom: 7%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "heroimg herodtl";
}

.HeroImg {
  grid-area: heroimg;
}

.HeroDetail {
  /* border: 1px solid blue; */
  grid-area: herodtl;
  display: grid;
  margin-left: 8%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "herotitle"
    "herodtlp";
}

.HeroDetail h2 {
  /* border: 1px solid green; */
  grid-area: herotitle;
  display: flex;
  align-items: flex-end;
}

.HeroDetail p {
  /* border: 1px solid orange; */
  grid-area: herodtlp;
  margin: 0;
}