.Wrapper {
  display: grid;
  padding: 4% 10%;
}

.Music {
  margin: auto;
}

.Hero {
  /* border: 1px solid red; */
  width: 100%;
  margin-bottom: 7%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "heroimg herodtl";
}

.HeroImg {
  grid-area: heroimg;
  /* border-radius: 50%; */
}

.HeroImg img {
  /* border-radius: 50%; */
}

.HeroDetail {
  /* border: 1px solid blue; */
  grid-area: herodtl;
  display: grid;
  margin-left: 8%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "herotitle"
    "herodtlp";
}

.HeroDetail h2 {
  /* border: 1px solid green; */
  grid-area: herotitle;
  display: flex;
  align-items: flex-end;
}

.HeroDetail p {
  /* border: 1px solid orange; */
  grid-area: herodtlp;
  margin: 0;
}

.MusicProjects {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "mscprjtitle mscprjtitle mscprjtitle"
    "prjsctn prjsctn prjsctn";
}

.MusicProjects h1 {
  grid-area: mscprjtitle;
}

.ProjectSection {
  grid-area: prjsctn;
  width: 33%;
  display: grid;
  grid-template-rows: 1fr .25fr .5fr;
  grid-template-areas:
    "prjsctnimg"
    "prjsctntitle"
    "prjsctndtl";
}

.ProjectSectionImg {
  /* border: 1px solid green; */
  grid-area: prjsctnimg;
  margin: auto;
}

.ProjectSectionImg img {
  width: 70%;
  border-radius: 50%;
}

.ProjectSectionTitle {
  /* border: 1px solid green; */
  grid-area: prjsctntitle;
}


.ProjectSectionDetail {
  /* border: 1px solid green; */
  grid-area: prjsctndtl;
}