.Music {
  margin: auto;
}

.Hero {
  /* border: 1px solid red; */
  display: block;
  position: relative;
  width: 100vw;
  background-image: url('../../../assets//Images/RyanDrums.jpg');
  background-size: cover;
  min-height: 95vh;
}

.HeroDetail {
  /* border: 2px solid blue; */
  color: white;
  position: absolute;
  width: 600px;
  bottom: 50px;
  left: 50px;
  padding: 2%;
}

.HeroDetail p {
  /* border: 1px solid green; */
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 25px;
  font-weight: 300;
}

.MusicProjects {
  /* border: 1px solid red; */
  padding: 3% 10%;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "mscprjtitle mscprjtitle mscprjtitle"
    "prjsctn1 prjsctn2 prjsctn3";
}

.MusicProjects h1 {
  grid-area: mscprjtitle;
  margin: 0 0 5% 0;
}

@media (max-width: 1000px) {
  .Music {
    /* border: 3px solid red; */
    width: 100%;
  }

  .Hero {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .HeroDetail {
    /* border: 1px solid red; */
    height: 250px;
    width: 300px;
    bottom: 30px;
    left: 20px;
    padding: 0;
  }

  .HeroDetail p {
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 16px;
  }


  .MusicProjects {
    /* border: 3px solid red; */
    display: block;
    margin: 8% 0 3% 0;
    padding: 0;
  }

  .MusicProjects h1 {
    display: none;
  }
}