.Technology {
  /* border: 1px solid red; */
  margin: auto;
  width: 650px;
  padding: 0 5%;
}

.Image {
  /* border: 1px solid red; */
  width: 100%;
  /* padding: 5px; */
  border-radius: 50%;
  /* filter: blur(1px); */
  /* -webkit-filter: blur(4px); */
  z-index: 1;
  position: relative;
}

.Image:hover {
  /* filter: blur(0); */
  /* -webkit-filter: blur(0); */
}

.Icons {
  /* border: 1px solid red; */
  /* background: gray; */
  /* opacity: .5; */
  /* margin-left: 50px; */
  width: 630px;
  height: 190px;
  padding: 3px;
  z-index: 2;
  position: absolute;
  top: 53%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.Icons svg>circle {
  fill: black;
}

.Icons>h3 {
  /* border: 1px solid red; */
  color: white;
  position: relative;
  text-align: center;
  z-index: 3;
}

.Icons>ul {
  /* border: 1px solid red; */
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 3;
  padding: 0;
}

.Icons>ul>li {
  /* border: 1px solid red; */
}

.Details {
  /* border: 1px solid red; */
  margin: auto;
  width: 85%;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .3fr .7fr;
  grid-template-areas:
    "title links"
    "text text";
}

.Details>h2 {
  /* border: 1px solid red; */
  grid-area: title;
}

ul {
  /* border: 1px solid red; */
  /* justify-items: right; */
  align-items: center;
  grid-area: links;
  display: flex;
  list-style-type: none;
}

li {
  /* border: 1px solid red; */
  grid-area: link;
  padding: 0 5px;
}

.Details>p {
  /* border: 1px solid red; */
  grid-area: text;
  letter-spacing: 0;
  text-align: justify;
  line-height: 1.6;
}